<div class="jumbotron center">
  <h1>Welcome to Pinteresting!</h1>
  <p>
      <%= link_to "Login", new_user_session_path, class: "btn btn-default btn-lg" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-primary btn-lg" %>
  </p>
</div>
