<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h1>Sign in</h1>
        </div>
    </div>
    <div class="panel-body">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

            <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, class: "form-control", :autofocus => true %>
            </div>

            <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: "form-control" %>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                </div>
            </div>

            <div class="form-group">
                <%= f.submit "Sign in", class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>
    <div class="panel-footer">
        <%= render "devise/shared/links" %>
    </div>
</div>